body {
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:rgba(80, 80, 80, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(15, 15, 15, 1); /* color of the scroll thumb */
  border-radius: 5em; /* roundness of the scroll thumb */
}

.nav-bar {
  position:fixed;
  width:101%;
  height:100px;
  top:0;
  color:white;
  margin-left:-10px;
  background-color:rgb(0,0,0);
  opacity: 0.8;
  box-shadow: 1px 5px 5px rgb(0,0,0);
  z-index: 1;
  text-decoration: none;
}

H1 {
  margin-top:-30px;
  font-size:40px;
  color: white;
  text-decoration: none;
}

H2 {
  font-size:25px;
  margin-top:-5px;
  color: white;
  text-decoration: none;
}

H3 {
  font-size:40px;
  color:rgb(0 87 120);
  margin-left: 40px;
}

.navigation {
  margin-left:120px;
  padding-top:23px;
  color: white;
}

.container {
  text-align:center;
  margin-top:140px;
  padding-right: 50px;
}

.afficher {
	  background-color:white;
    border-radius: 5%;
    color: rgb(255, 255, 255, 1);
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    -webkit-transform: scale(1);
    transform: scale(1);
    background : #fafafafa;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.afficher:hover {
  background-color:#b8b8b8;
}

td {
  padding-left:60px;
  padding-bottom:60px;
}



.footer {
  background-color:rgb(0, 87, 120, 1);
  width: 100%;
  height: 100%;
}

.logo {
  margin-left:43.5%;
  padding-top:15px;
  padding-bottom:15px;
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}

#scroll_to_top img {
  margin-left: 20px;
  margin-top: 35px;
  width: 30px;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}

	/* conserver le ratio des images */

	img {
		height: auto;
	}

	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}

	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}

	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}

	/* Un message personnalisé */

	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}
